html, body, #content {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
}

#content {
	position: relative;
}

#sidebar, #map {
	position: absolute;
}

#sidebar {
	background: #eae8e6;
}

	h1 {
		font-weight: normal;
		font-size: 30px;
		line-height: 1.2em;
		margin: 0 0 20px 0;
	}

		.country_button {
			background: #d1d3d4;
			font-weight: bold;
			        transition: background-color 0.1s;
			-webkit-transition: background-color 0.1s;
			cursor: pointer;
		}

			.country_button::after {
				content: ' ';
				position: absolute;
				top: 21px;
				right: 0px;
				width: 0px;
				height: 0px;
				border-top: 0px solid transparent;
				border-bottom: 0px solid transparent;
				border-left: 0px solid #7cb0ff;
			        transition: border-width 0.1s, right 0.1s, top 0.1s;
			-webkit-transition: border-width 0.1s, right 0.1s, top 0.1s;
			}

			.country_button:hover {
				background: #B5C7E2;
			}

			.country_button.active, .country_button.active:hover {
				position: relative;
				z-index: 1000;
				background: #7cb0ff;
			}

				.country_button.active::after {
					top: 0px;
					right: -21px;
					border-top-width: 21px;
					border-bottom-width: 21px;
					border-left-width: 21px;
				}

	.description {
		display: none;
	}

		.description.active {
			display: block;
		}

	#footer {
		position: absolute;
		width: 240px;
		bottom: 20px;
		left: 20px;
	}

		#footer span {
			vertical-align: top;
			display: inline-block;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: top left;
			height: 20px;
			margin-top: 5px;
		}

			#logo_arte { background-image: url('arte.png'); width: 82px; }
			#logo_srf  { background-image: url('srf.png');  width: 31px; margin-left: 5px; }
			#logo_rts  { background-image: url('rts.png');  width: 30px; margin-left: 5px; }
			#logo_odc  { background-image: url('odc.png');  width: 51px; margin-left: 5px; }

#map {
	background: #f0eeec;
	z-index: 100;
	overflow: hidden;
}

	#map canvas {
		position: absolute;
		top: 0;
		left: 0;
	}

	#btn_fullscreen {
		position: absolute;
		bottom: 16px;
		right: 16px;
		width: 34px;
		height: 34px;
		background-image: url('btnfullscreen.png');
		background-size: 98px 34px;
		background-position: top right;
	}

		#btn_fullscreen.active {
			background-position: top left;
		}

	#popup {
		position: absolute;
		display: none;
		background: #000;
		padding-top: 3px;
		padding-right: 5px;
		height: 17px;
		color: #fff;
		font-size: 10.5px;
		pointer-events: none;
	}

		#popup span {
			display: inline-block;
			text-overflow: ellipsis;
			max-width: 150px;
			white-space: nowrap;
			overflow: hidden;
		}

		#popup::before {
			content: ' ';
			position: absolute;
			top: 0px;
			left: -10px;
			width: 0px;
			height: 0px;
			border-top: 10px solid transparent;
			border-bottom: 10px solid transparent;
			border-right: 10px solid #000;
		}

.noselect {
	-webkit-touch-callout: none;
	  -webkit-user-select: none;
	   -khtml-user-select: none;
	     -moz-user-select: none;
	      -ms-user-select: none;
	          user-select: none;
}

@media (max-width: 650px) {
	#sidebar {
		top: 0px;
		left: 0px;
		right: 0px;
		height: 210px;
		padding: 0px;
	}
		h1, #footer {
			display: none;
		}
		#intro {
			padding: 10px;
			border-bottom: 1px solid #939598;
			height: 20px;
		}
		#country_wrapper {
			margin: 0px;
		}
			.country_button {
				padding: 10px 0px 0px 15px;
				height: 30px;
				width: 100px;
				margin-bottom: 3px;
			}
				.country_button.active::after {
					top: 0px;
					right: -20px;
					border-top-width: 20px;
					border-left-width: 20px;
					border-bottom-width: 20px;
				}
		#description_wrapper {
			position: absolute;
			top: 41px;
			left: 120px;
			right: 0px;
			bottom: 0px;
			padding: 10px 10px 10px 20px;
		}
	#map {
		top: 210px;
		left: 0px;
		bottom: 0px;
		right: 0px;
		border-top: 1px solid #939598;
	}
}

@media (min-width: 651px) {
	#sidebar {
		width: 240px;
		top: 0px;
		left: 0px;
		bottom: 0px;
		padding: 20px;
	}
		#country_wrapper {
			margin-top: 10px;
			margin-bottom: 10px;
		}
			.country_button {
				padding: 12px 0px 0px 20px;
				height: 30px;
				width: 240px;
				border: 3px solid rgba(234,232,230,1);
				border-left: none;
				border-right: none;
			}
	#map {
		top: 0px;
		left: 280px;
		bottom: 0px;
		right: 0px;
		border-left: 1px solid #939598;
	}
}